@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

/* customizing colors */
:root {
  /* color variables */
  --pinkish-1: hsl(333, 46%, 69%);
  --pinkish-2: hsl(333, 45%, 60%);
  --pinkish-3: hsl(333, 45%, 50%);
  --pinkish-4: hsl(333, 45%, 39%);
  --pinkish-5: hsl(333, 45%, 34%);

  --translucent-pinkish-1: hsla(333, 45%, 60%, 0.1);
  --translucent-pinkish-2: hsla(333, 55%, 60%, 0.050);

  --translucent-1: hsla(0, 0%, 50%, 0.15);
  --translucent-2: hsla(0, 0%, 30%, 0.15);

  /* status indicators */
  --online: #49c27b !important;
  --dnd: #f14567 !important;
  --idle: #f5bc4a !important;
  --streaming: #7e59a8 !important;

  /* accent colors */
  --accent-1: var(--pinkish-1) !important; /* links */
  --accent-2: var(--pinkish-2) !important; /* general unread/mention elements */
  --accent-3: var(--pinkish-3) !important; /* accent buttons */
  --accent-4: var(--pinkish-4) !important; /* accent buttons when hovered */
  --accent-5: var(--pinkish-5) !important; /* accent buttons when clicked */
  --accent-new: var(--pinkish-2) !important; /* elements that are normally red like mute/deafen buttons */

  /* mentions & mention messages */
  --mention: var(--translucent-pinkish-1) !important;
  --mention-hover: var(--translucent-pinkish-2) !important;

  /* highlight of the message you're replying to */
  --reply: var(--translucent-1) !important;
  --reply-hover: var(--translucent-2) !important;

  /* text colors */
  --text-0: var(--text-2) !important; /* text on colored elements */
  --text-1: hsl(25, 21%, 83%) !important; /* other normally white text */
  --text-2: hsl(29, 100%, 94%) !important; /* headings and important text */
  --text-3: hsl(22, 19%, 84%) !important; /* messages */
  --text-4: hsl(0, 6%, 68%) !important; /* icon buttons and channels */
  --text-5: hsl(0, 6%, 59%) !important; /* muted channels/chats and timestamps */

  /* background and dark colors */
  --bg-1: hsl(0, 0%, 43%) !important; /* dark buttons when clicked */
  --bg-2: hsl(0, 0%, 19%) !important; /* dark buttons */
  --bg-3: hsl(0, 0%, 12%) !important; /* spacing, secondary elements */
  --bg-4: hsl(0, 0%, 8%) !important; /* main background color */
  --hover: hsla(0, 0%, 37%, 0.111) !important; /* channels and buttons when hovered */
  --active: hsla(0, 0%, 35%, 0.259) !important; /* channels and buttons when clicked or selected */
  --message-hover: hsla(0, 0%, 0%, 0.184) !important; /* messages when hovered */
}
