@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

/* customize things here */
:root {
  /* color of status indicators and window controls */
  --online: #3dbb72 !important;
  --dnd: #f23f63 !important;
  --idle: #f1b641 !important;
  --streaming: #7e59a8 !important;

  /* accent colors */
  --accent-1: hsl(333, 46%, 69%) !important; /* links */
  --accent-2: hsl(333, 45%, 60%) !important; /* general unread/mention elements */
  --accent-3: hsl(333, 45%, 50%) !important; /* accent buttons */
  --accent-4: hsl(333, 45%, 39%) !important; /* accent buttons when hovered */
  --accent-5: hsl(333, 45%, 34%) !important; /* accent buttons when clicked */
  --accent-new: hsl(333, 45%, 60%) !important;
  --mention: hsla(333, 48%, 62%, 0.085) !important; /* mentions & mention messages */
  --mention-hover: hsla(333, 52%, 63%, 0.14) !important; /* mentions & mention messages when hovered */
  --reply: hsla(333, 52%, 63%, 0.14) !important;
  --reply-hover: hsla(333, 48%, 62%, 0.085) !important;

  /* text colors */
  --text-0: var(--text-2) !important; /* text on colored elements */
  --text-1: hsl(25, 21%, 83%) !important; /* other normally white text */
  --text-2: hsl(29, 100%, 94%) !important; /* headings and important text */
  --text-3: hsl(22, 19%, 84%) !important; /* normal text */
  --text-4: hsl(0, 6%, 68%) !important; /* icon buttons and channels */
  --text-5: hsl(0, 6%, 59%) !important; /* muted channels/chats and timestamps */

  /* background and dark colors */
  --bg-1: hsl(0, 0%, 43%) !important; /* dark buttons when clicked */
  --bg-2: hsl(0, 0%, 19%) !important; /* dark buttons */
  --bg-3: hsl(0, 0%, 12%) !important; /* spacing, secondary elements */
  --bg-4: hsl(0, 0%, 8%) !important; /* main background color */
  --hover: hsla(0, 0%, 37%, 0.111) !important; /* channels and buttons when hovered */
  --active: hsla(0, 0%, 35%, 0.259) !important; /* channels and buttons when clicked or selected */
  --message-hover: hsla(0, 0%, 0%, 0.184) !important; /* messages when hovered */
}
