/* useless help button */
a[href="https://support.discord.com"] {
  display: none !important;
}

.f37cb1984c371ee5-inviteButton {
  display: none !important;
}

/* ------- user context menu items ------- */
@property --hide-context-menu-items {
  syntax: 'true | false';
  inherits: false;
  initial-value: true;
}

@container body style(--hide-context-menu-items: true) {

  #user-context-note,
  #user-context-close-dm,
  #user-context-add-friend-nickname,
  #user-context-apps,
  #user-context-invite-to-server,
  #user-context-invite-to-listen,
  #user-context-invite-to-listen+div.c1e9c47c23f12ca3-separator {
    display: none !important;
  }
}

/* ------- end context menu items ------- */

/* ------- start stuff above dms ------- */
@property --hide-nitro-shop-recentapps {
  syntax: 'true | false';
  inherits: false;
  initial-value: true;
}

@container body style(--hide-nitro-shop-recentapps: true) {

  /* nitro */
  div._99e7cad8d4c55236-scroller ul.d125d22cdfd32cfe-content>:nth-child(3),
  /* shop */
  div._99e7cad8d4c55236-scroller ul.d125d22cdfd32cfe-content>:nth-child(4),
  /* quests */
  div._99e7cad8d4c55236-scroller ul.d125d22cdfd32cfe-content>:nth-child(5),
  /* quests 2 */
  div._99e7cad8d4c55236-scroller ul.d125d22cdfd32cfe-content>:nth-child(6) {
    display: none !important;
  }

  /* frequent friends and its dividers */
  ._1fc18cdca0445214-frequentFriendsRow,
  ._1fc18cdca0445214-frequentFriendsRow+div.e6b7699ce8339e1c-sectionDivider,
  div.e6b7699ce8339e1c-sectionDivider:has(+._1fc18cdca0445214-frequentFriendsRow) {
    display: none !important;
  }
}

/* dividers surrounding recent apps */
div._99e7cad8d4c55236-scroller ul.d125d22cdfd32cfe-content>div.e6b7699ce8339e1c-sectionDivider:nth-child(5),
div._99e7cad8d4c55236-scroller ul.d125d22cdfd32cfe-content>div.e6b7699ce8339e1c-sectionDivider:nth-child(7),
div._99e7cad8d4c55236-scroller ul.d125d22cdfd32cfe-content>div.e6b7699ce8339e1c-sectionDivider:nth-child(6),
div._99e7cad8d4c55236-scroller ul.d125d22cdfd32cfe-content>div.e6b7699ce8339e1c-sectionDivider:nth-child(8) {
  display: none !important;
}

/* make friends tab but further from dms */
div._99e7cad8d4c55236-scroller ul.d125d22cdfd32cfe-content>div:nth-child(2) {
  margin-bottom: 11px !important;
}

/* remove useless border below search button in dm list */
.e6b7699ce8339e1c-searchBar {
  border-bottom: none !important;
}

/* ------- end stuff above dms ------- */

/* ------- start text box buttons ------- */
@property --hide-gift-button {
  syntax: 'true | false';
  inherits: false;
  initial-value: true;
}

/* gift button */
@container body style(--hide-gift-button: true) {
  div._740174f3d6a2c8fe-buttons>div._740174f3d6a2c8fe-button {
    display: none !important;
  }

  div._740174f3d6a2c8fe-buttons>div.c0c49a3e5c8626ac-container {
    display: none !important;
  }
}

@property --hide-apps-button {
  syntax: 'true | false';
  inherits: false;
  initial-value: true;
}

@container body style(--hide-apps-button: true) {

  /* app launcher */
  .app-launcher-entrypoint {
    display: none !important;
  }
}

/* ------- end text box buttons ------- */

/* -------- start dm buttons -------- */
@property --hide-toolbar-items-dm {
  syntax: 'true | false';
  inherits: false;
  initial-value: true;
}

@container body style(--hide-toolbar-items-dm: true) {

  /* video call button */
  div._5e434347c823b592-content:has(nav.e6b7699ce8339e1c-privateChannels) div._9293f6b2fc12398a-toolbar:has(div._9293f6b2fc12398a-iconWrapper:nth-of-type(5)) div._9293f6b2fc12398a-iconWrapper:nth-of-type(2),
  /* create group dm button */
  div._5e434347c823b592-content:has(nav.e6b7699ce8339e1c-privateChannels) div._9293f6b2fc12398a-toolbar:has(div._9293f6b2fc12398a-iconWrapper:nth-of-type(5)) div._9293f6b2fc12398a-iconWrapper:nth-of-type(4),
  /* show user profile button */
  div._5e434347c823b592-content:has(nav.e6b7699ce8339e1c-privateChannels) div._9293f6b2fc12398a-toolbar:has(div._9293f6b2fc12398a-iconWrapper:nth-of-type(5)) div._9293f6b2fc12398a-iconWrapper:nth-of-type(5) {
    display: none !important;
  }

  /* create group dm button during voice call */
  div._5e434347c823b592-content:has(nav.e6b7699ce8339e1c-privateChannels) div._9293f6b2fc12398a-toolbar:not(:has(div._9293f6b2fc12398a-iconWrapper:nth-of-type(5))) div._9293f6b2fc12398a-iconWrapper:nth-of-type(3),
  /* show user profile button during voice call */
  div._5e434347c823b592-content:has(nav.e6b7699ce8339e1c-privateChannels) div._9293f6b2fc12398a-toolbar:not(:has(div._9293f6b2fc12398a-iconWrapper:nth-of-type(5))) div._9293f6b2fc12398a-iconWrapper:nth-of-type(4) {
    display: none !important;
  }
}

/* -------- end dm buttons -------- */

/* -------- start server buttons -------- */
@property --hide-toolbar-items-server {
  syntax: 'true | false';
  inherits: false;
  initial-value: true;
}

@container body style(--hide-toolbar-items-server: true) {

  /* threads button */
  div._5e434347c823b592-content:has(nav._2637a2609f343032-container) div._9293f6b2fc12398a-toolbar div._9293f6b2fc12398a-iconWrapper:nth-of-type(1),
  /* notification settings button */
  div._5e434347c823b592-content:has(nav._2637a2609f343032-container) div._9293f6b2fc12398a-toolbar div._9293f6b2fc12398a-iconWrapper:nth-of-type(2),
  /* show members list button */
  div._5e434347c823b592-content:has(nav._2637a2609f343032-container) div._9293f6b2fc12398a-toolbar div._9293f6b2fc12398a-iconWrapper:nth-of-type(4) {
    display: none !important;
  }
}

/* -------- end server buttons -------- */