/* useless help button */
a[href="https://support.discord.com"] {
  display: none !important;
}

/* ------- user context menu items ------- */
@property --hide-context-menu-items {
  syntax: 'true | false';
  inherits: false;
  initial-value: true;
}

@container body style(--hide-context-menu-items: true) {
  #user-context-note,
  #user-context-close-dm,
  #user-context-add-friend-nickname,
  #user-context-apps,
  #user-context-invite-to-server,
  #user-context-invite-to-listen,
  #user-context-invite-to-listen + div.separator_c1e9c4 {
    display: none !important;
  }
}
/* ------- end context menu items ------- */

/* ------- start stuff above dms ------- */
@property --hide-nitro-shop-recentapps {
  syntax: 'true | false';
  inherits: false;
  initial-value: true;
}

@container body style(--hide-nitro-shop-recentapps: true) {
  /* nitro tab */
  div.scroller__99e7c ul.content__99f8c>li:nth-child(3),
    /* shop tab */
    div.scroller__99e7c ul.content__99f8c>li:nth-child(4),
    /* recent apps */
    div.scroller__99e7c ul.content__99f8c>div.container__675e5:nth-child(6),
    div.scroller__99e7c ul.content__99f8c>div.container__675e5:nth-child(7) {
    display: none !important;
  }

  /* dividers surrounding recent apps */
  div.scroller__99e7c
    ul.content__99f8c
    > div.sectionDivider__35e86:nth-child(5),
  div.scroller__99e7c
    ul.content__99f8c
    > div.sectionDivider__35e86:nth-child(7),
  div.scroller__99e7c
    ul.content__99f8c
    > div.sectionDivider__35e86:nth-child(6),
  div.scroller__99e7c
    ul.content__99f8c
    > div.sectionDivider__35e86:nth-child(8) {
    display: none !important;
  }

  /* make friends tab but further from dms */
  div.scroller__99e7c ul.content__99f8c > div:nth-child(2) {
    margin-bottom: 11px !important;
  }

  /* remove useless border below search button in dm list */
  .searchBar__35e86 {
    border-bottom: none !important;
  }
}
/* ------- end stuff above dms ------- */

/* ------- start text box buttons ------- */
@property --hide-gift-button {
  syntax: 'true | false';
  inherits: false;
  initial-value: true;
}

/* gift button */
@container body style(--hide-gift-button: true) {
  div.buttons__74017 > div.button__74017 {
    display: none !important;
 }
}

@property --hide-apps-button {
  syntax: 'true | false';
  inherits: false;
  initial-value: true;
}

@container body style(--hide-apps-button: true) {
  /* app launcher */
  div.channelAppLauncher_e6e74f {
    display: none !important;
  }
}
/* ------- end text box buttons ------- */

/* -------- start dm buttons -------- */
@property --hide-toolbar-items-dm {
  syntax: 'true | false';
  inherits: false;
  initial-value: true;
}

@container body style(--hide-toolbar-items-dm: true) {
  /* video call button */
  div.content_c48ade:has(nav.privateChannels__35e86) div.toolbar__9293f:has(div.iconWrapper__9293f:nth-of-type(5)) div.iconWrapper__9293f:nth-of-type(2),
    /* create group dm button */
    div.content_c48ade:has(nav.privateChannels__35e86) div.toolbar__9293f:has(div.iconWrapper__9293f:nth-of-type(5)) div.iconWrapper__9293f:nth-of-type(4),
    /* show user profile button */
    div.content_c48ade:has(nav.privateChannels__35e86) div.toolbar__9293f:has(div.iconWrapper__9293f:nth-of-type(5)) div.iconWrapper__9293f:nth-of-type(5) {
    display: none !important;
  }

  /* create group dm button during voice call */
  div.content_c48ade:has(nav.privateChannels__35e86) div.toolbar__9293f:not(:has(div.iconWrapper__9293f:nth-of-type(5))) div.iconWrapper__9293f:nth-of-type(3),
    /* show user profile button during voice call */
    div.content_c48ade:has(nav.privateChannels__35e86) div.toolbar__9293f:not(:has(div.iconWrapper__9293f:nth-of-type(5))) div.iconWrapper__9293f:nth-of-type(4) {
    display: none !important;
  }
}
/* -------- end dm buttons -------- */

/* -------- start server buttons -------- */
@property --hide-toolbar-items-server {
  syntax: 'true | false';
  inherits: false;
  initial-value: true;
}

@container body style(--hide-toolbar-items-server: true) {
  /* threads button */
  div.content_c48ade:has(nav.container__2637a) div.toolbar__9293f div.iconWrapper__9293f:nth-of-type(1),
    /* notification settings button */
    div.content_c48ade:has(nav.container__2637a) div.toolbar__9293f div.iconWrapper__9293f:nth-of-type(2),
    /* show members list button */
    div.content_c48ade:has(nav.container__2637a) div.toolbar__9293f div.iconWrapper__9293f:nth-of-type(4) {
    display: none !important;
  }
}
/* -------- end server buttons -------- */
