ul[aria-label="Direct Messages"] > li:nth-child(3) {
    display: none !important;
}

ul[aria-label="Direct Messages"] > li:nth-child(4) {
    display: none !important;
}

ul[aria-label="Direct Messages"] > div.sectionDivider__35e86:nth-child(5), ul[aria-label="Direct Messages"] > div.sectionDivider__35e86:nth-child(7) {
    display: none !important;
}

ul[aria-label="Direct Messages"] > div.container__675e5:nth-child(8) {
    display: none !important;
}

ul[aria-label="Direct Messages"] > div:nth-child(2) {
    margin-bottom: 11px !important;
}

.searchBar__35e86 {
    border-bottom: none !important;
}

/* apps */
div[class^="channelAppLauncher_"] {
    display: none !important;
}

/* gift button */
div.buttons__74017 > button:nth-child(1) div:nth-child(1) {
    display: none !important;
}

/* create group dm button */
div[aria-label="Add Friends to DM"] {
    display: none !important;
}

/* useless fucking help button */
a[href="https://support.discord.com"] {
    display: none !important;
}

/* user profile button */
div.toolbar__9293f > div[aria-label="Show User Profile"], div[aria-label="Show User Profile (Unavailable)"] {
    display: none !important;
}

/* video call button */
div.toolbar__9293f > div[aria-label="Start Video Call"] {
    display: none !important;
}

/* notification settings button */
div.toolbar__9293f > div[aria-label="Notification Settings"] {
    display: none !important;
}

/* threads button */
div.toolbar__9293f > div[aria-label="Threads"] {
    display: none !important;
}

/* member list button */
div.toolbar__9293f > div[aria-label="Show Member List"], div.toolbar__9293f > div[aria-label="Hide Member List"] {
    display: none !important;
}
